@{
    ViewData["Title"] = "Crawler";
    var strSearch = "strSearch";
}

<div class="text-center">
    <h1 class="display-4">Crawler - KABUM</h1>
    <br/><br/>
<form asp-controller="Home" asp-action="Index" method="post">
    Pesquisar: <input asp-for="@strSearch" value="" />     
    <button type="submit">Search</button>
</form>
    <br/>
    <br/>
    <div>
        <ul>
        @if(ViewBag.ProductsList != null)
        {
        @foreach (var item in ViewBag.ProductsList)
        {
            <li>@item.NameProduct  -  @item.PriceProduct</li>
        }
        }
        </ul>
    </div>
</div>
